{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block title %}Order{% endblock title %}

{% block content %}
<h2>Order</h2>
<ul>
    {% for item in items %}
    <li><a href="{% url 'item_detail' item.pk %}">{{ item.name }}</a></li>
    {% endfor %}
    {% if items %}
    <button id="button-buy">Buy</button>
    {% endif %}
</ul>
{% endblock content %}

<script>
    const stripe = Stripe("{{ stripe_publishable_api_key }}");
    const buttonBuy = document.querySelector("#button-buy");
    buttonBuy.addEventListener("click", () => {
        fetch("{% url 'payment_buy_order' %}")
            .then(response => response.json())
            .then(payment => stripe.redirectToCheckout({ sessionId: payment.session_id }))
            .then(result => console.info(result));
    });
</script>
